@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex flex-column gap-4 pa-8">
	<h1>My Test Blazor App</h1>

	<div>
		<span>UI courtesy of </span>
		<MudLink Href="https://mudblazor.com/">Mud Blazor</MudLink>
	</div>
</div>